<section class="jumbotron">
    <h1>Vista de Productos</h1>
  
    <%if(productosExists) { %>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Foto</th>
        </thead>
        <tbody>
          <% productos.forEach((item) => { %>
          <tr>
            <th scope="row"><%= item.id %></th>
            <td><%=  item.title %></td>
            <td><%=  new Intl.NumberFormat('es-MX',{ style: 'currency', currency: 'MXN' }).format(item.price) %></td>
            <td><img width="50" src="<%= item.thumbnail %>" alt="<%= item.title %>" title="<%= item.title %>"></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <% } else { %>
    <h3 class="alert alert-warning">No se encontraron productos</h3>
    <% } %>
    <br>
    <a href="/" type="button" class="btn btn-primary ">Cargar un nuevo producto</a>
  </section>